@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.resizable-container {
  resize: horizontal;
  border: 1px solid #e2e8f0;
  overflow: auto;
  width: 100%;
  /* min-width: 28rem; */
}

table {
  table-layout: fixed;
  width: auto;
  margin: 0;
  border: none;
}

table th {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  cursor: col-resize;
  user-select: none;
}

.resizer:hover,
.resizer__dragging {
  border-right: 2px solid blue;
}
